.datesAndGuestsHeader {
  font-size: 25px;
  margin: 0px;
}

.datesContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.datesParagraphHeader {
  margin: 0px 0px 0px 0px;
}

.datesParagraph {
  font-size: 14px;
  color: var(--secondary-colour);
  margin: 10px 0px 5px 0px;
}

.changeDateButton {
  text-decoration: underline;
  margin-top: 25px;
  cursor: pointer;
}

.totalPrice {
  font-weight: bold;
  margin-top: 30px;
}