.Container {
  display: flex;
  justify-content: space-between;
}

.ParagraphHeader {
  margin: 40px 0px 0px 0px;
}

.Paragraph {
  font-size: 14px;
  color: var(--secondary-colour);
  margin-top: 5px;
}

.plusAndMinusContainer {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.minusButton {
  color: var(--secondary-colour);
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
}

.plusButton {
  color: var(--secondary-colour);
  cursor: pointer;
  margin-left: 5px;
  font-size: 20px;
}