.ulContainer {
    padding: 15px 20px 15px 20px !important;
    margin-bottom: 5px;
    display: block !important;
    border: 1px solid gray;
    cursor: pointer;
    margin: 5px 5px 0px 5px;
}

.newMessageulContainer {
    padding: 15px 20px 15px 20px !important;
    margin-bottom: 5px;
    display: block !important;
    border: 1px solid black;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    background: linear-gradient(90deg, var(--primary-colour) 2%, #ffff 2%);
}

.li {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    pointer-events: none;
}

.from span {
    color: var(--secondary-colour);
    margin-left: 5px;
}

.subject span {
    color: var(--secondary-colour);
    margin-left: 5px;
}


.date {
    text-align: end;
}

.messageContainer {
    height: 600px;
}

.messageGoBackButton {
    font-size: 25px;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
    padding: 7px 0px 0px 0px;
}

.messageBody {
    padding: 0px 10px 0px 10px;
}

.messageFromAndDateContainer {
    display: flex;
    justify-content: space-between;
}

.messageFrom {
    color: var(--secondary-colour);
}

.messageFrom span {
    font-weight: bold;
    color: black;
}

.messageDateAndMenuIconContainer {
    display: flex;
    gap: 20px;
}

.messageSubject {
    margin: 0px 0px 40px 0px;
    color: var(--secondary-colour)
}

.messageSubject span {
    font-weight: bold;
    color: black;
}

.messageMessage {
    color: var(--secondary-colour);
    overflow-wrap: break-word;
}

.messageEmail {
    color: var(--secondary-colour);
    margin-top: 40px;
}

.messageEmail span {
    font-weight: bold;
    color: black;
}


.show {
    display: block;
}

.hide {
    display: none !important;
}