.enquirysButtonContainer {
    position: relative;
}

.enquirysButton {
    margin: 0px;
    cursor: pointer;
}

.enquirysButtonFocus {
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
    text-decoration: underline;
}

.enquirysButton:hover {
    text-decoration: underline;
    font-weight: bold;
}

.newEnquirysLength {
    position: absolute;
    right: -15px;
    top: -18px;
    background-color: #FFEE00;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    text-align: center
}

.show {
    display: block;
}

.hide {
    display: none !important;
}