.inboxLink {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inboxLink:hover {
    text-decoration: underline;
}


.inboxLink p {
    margin: 0px;
    color: var(--secondary-colour);
    font-weight: lighter;
    cursor: pointer;
}

.inboxIcon {
    color: var(--secondary-colour)
}

.inboxContainer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.685);
    height: 100vh;
    margin-top: 14px;
    padding: 0px 10px 0px 10px;
}

.inbox {
    border: 1px solid;
    padding: 0px 0px 60px 0px;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin: 150px auto 0px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffff;
    max-width: 700px;
    height: 600px;
    overflow: hidden;
    border: none;
}

.inboxHeader {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin: 0px 0px 7px 0px;
    padding: 30px 0px 30px 0px;
    background-color: var(--primary-colour);
    color: #fff;
}

.inboxButtonsContainer {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px 60px 0px 60px;
}

.enquirysButton {
    margin: 0px;
    cursor: pointer;
}

.enquirysButton:hover {
    text-decoration: underline;
    font-weight: bold;
}


.contactButton {
    margin: 0px;
    cursor: pointer;
}

.contactButton:hover {
    text-decoration: underline;
    font-weight: bold;
}


.inboxBody {
    padding: 5 0px 5px 20px 0px;
    border: 1px solid gray;
    overflow: scroll;
    overflow-x: hidden;
    max-width: 580px;
    margin: 0 auto;
    margin-top: 30px;
    max-height: 400px;
}

.hide {
    display: none;
}

.show {
    display: block;
}