.ratingContainer {
  display: flex;
  justify-content: space-between;
}

.rating {
  background-color: var(--rating-colour);
  width: 30px;
  padding: 3px;
  margin: 0px;
  text-align: center;
  color: #fff;
}

.name {
  font-size: 25px;
  margin: 20px 0px 5px 0px;
}

.address {
  color: var(--secondary-colour);
  margin: 10px 0px 15px 0px;
}

.image {
  width: 100%;
  border-radius: 7px;
}

.description {
  color: var(--secondary-colour);
}

.price {
  font-size: 20px;
  margin-top: 30px;
}